In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("C:/Users/ranch/OneDrive/Documents/MIT 805/Iowa_Liquor_Sales.csv")

C:\Users\ranch\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
df1

In [53]:
df["event_type"].unique()

array(['view', 'cart', 'remove_from_cart', 'purchase'], dtype=object)

In [54]:
df.describe()

         product_id   category_id         price       user_id
count  8.421434e+06  8.421434e+06  8.421434e+06  8.421434e+06
mean   5.498318e+06  1.560378e+18  8.621121e+00  5.391882e+08
std    1.286741e+06  1.773420e+17  1.961062e+01  8.886411e+07
min    3.752000e+03  1.487580e+18 -7.937000e+01  4.654960e+05
25%    5.728072e+06  1.487580e+18  2.190000e+00  5.017526e+08
50%    5.813488e+06  1.487580e+18  4.110000e+00  5.720076e+08
75%    5.862067e+06  1.487580e+18  7.140000e+00  6.026324e+08
max    5.932595e+06  2.242903e+18  3.277800e+02  6.220902e+08

In [55]:
df["user_id"].nunique()

737093

In [56]:
df_purchases = df.loc[df['event_type'] == "purchase"]

In [57]:
event_null = df_purchases['event_time'].isnull().values.any()
user_null = df_purchases['user_id'].isnull().values.any()
price_null = df_purchases['price'].isnull().values.any()
print(f"Event time: {event_null}\nUser id: {user_null}\nPrice: {price_null}")

Event time: False
User id: False
Price: False

In [58]:
df_purchases["user_id"].nunique()

49473

In [59]:
df_purchases.dtypes

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [60]:
df_purchases.describe()

         product_id   category_id          price       user_id
count  5.057900e+05  5.057900e+05  505790.000000  5.057900e+05
mean   5.459517e+06  1.557037e+18       4.997775  5.296161e+08
std    1.350893e+06  1.746934e+17       8.936732  9.569557e+07
min    3.762000e+03  1.487580e+18     -79.370000  1.028034e+07
25%    5.723496e+06  1.487580e+18       1.590000  4.832967e+08
50%    5.809911e+06  1.487580e+18       3.020000  5.636975e+08
75%    5.857321e+06  1.487580e+18       5.560000  6.011931e+08
max    5.932583e+06  2.242903e+18     327.780000  6.220732e+08